<data>
   <menu id="primary">
      <menu id="01.00.00.00" text="MASTER DATA"/>
      <menu id="01.01.00.00" text="USER"/>
      <menu id="01.01.01.00" text="Profile" event="USER_LIST"/>
      <menu id="01.01.02.00" text="Role" event="ROLE_LIST_DISPLAY"/>
      <menu id="01.01.03.00" text="Sessions" event="LIST_SESSIONS"/>
   </menu>
</data>

<!--

         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('01.00.00.00','MASTER DATA',NULL,NULL,NULL)",

         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('01.01.00.00','USER',NULL,NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('01.01.01.00','Profile','USER_LIST',NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('01.01.02.00','Role','ROLE_LIST_DISPLAY',NULL,NULL)",
        // "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('01.01.03.00','Switch Outlet','USER_SWITCH_OUTLET',NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('01.01.03.00','Sessions','LIST_SESSIONS',NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('01.01.04.00','ValueSet','VS_LIST_GO',NULL,NULL)",

         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('10.00.00.00','GENERAL LEDGER',NULL,NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('10.01.00.00','Setup',NULL,NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('10.01.01.00','Account Type','GL_ACCT_TYPE',NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('10.01.02.00','Account Mask','CONFIGURE&GROUP=GL_ACCT_MASK',NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('10.01.03.00','Fiscal Year','CONFIGURE&GROUP=GL_FISCAL_YR',NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('10.01.04.00','Journal Master','GL_J_MASTER',NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('10.01.05.00','Cost Center','GL_DEPT_LIST',NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('10.01.06.00','Periods','GL_PERIODS',NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('10.01.07.00','Accounts','GL_ACCOUNTS',NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('10.20.00.00','Currency',NULL,NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('10.20.01.00','Setup','CONFIGURE&GROUP=GL_CCY',NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('10.20.02.00','Exchange Rate',NULL,NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('10.01.08.00','Account Budget','GL_ACCT_BUDGET',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('10.01.09.00','Account Allocation','GL_ACCT_ALLOC',NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('10.30.00.00','Transaction',NULL,NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('10.30.01.00','Journal Entry','GL_ENTRY',NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('10.40.00.00','GL Report','GL_REPORT',NULL,NULL)",

         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('11.00.00.00','AR/AP','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('11.01.00.00','Maintenance','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('11.01.01.00','Customer Class','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('11.01.02.00','Product Class','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('11.01.03.00','Salesman Class','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('11.01.04.00','Comission Rates','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('11.01.05.00','Customer','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('11.01.06.00','Salesman','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('11.01.07.00','Recurring Invoices','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('11.01.08.00','Serial Master','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('11.01.09.00','Currency Master','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('11.01.10.00','Currency Transaction','',NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('11.02.00.00','Transaction','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('11.02.10.00','Transaction','AR_INVOICE_LIST',NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('11.02.11.00','Transaction','invoicelist.crux',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('11.03.20.00','Settlement','AR_RECEIPT_LIST',NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('11.03.21.00','Settlement','receiptlist.crux',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('11.02.02.00','Pre-Post Listing','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('11.02.03.00','Numbering Invoices','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('11.02.04.00','Posting','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('11.03.00.00','RECEIPTS','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('11.03.01.00','Entry','AR_RECEIPT_LIST',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('11.03.02.00','Pre-post Listing','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('11.03.03.00','Print Deposit Slip','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('11.03.04.00','Posting','',NULL,NULL)",

//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('12.00.00.00','ACCOUNTS PAYABLE','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('12.01.00.00','Maintenance','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('12.01.01.00','AP System Defaults','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('12.01.02.00','GL Setup','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('12.01.03.00','FOB','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('12.01.04.00','Payment Terms','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('12.01.05.00','Shipment','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('12.01.06.00','Vendors','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('12.01.07.00','Responsibility','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('12.01.08.00','Recurring Vouchers','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('12.01.09.00','Check Comments','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('12.01.10.00','Vendor Class','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('12.01.11.00','Void Checks','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('12.01.12.00','Currency Master','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('12.01.13.00','Currency Transaction','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('12.02.00.00','Voucher Processing','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('12.02.01.00','Entry','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('12.02.02.00','Pre-Post Listing','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('12.02.03.00','Unrecorded Liabilities','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('12.02.04.00','Posting','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('12.03.00.00','Check Processing','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('12.03.01.00','Enter Manual Check','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('12.03.02.00','List Open Vouchers','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('12.03.03.00','Select for Payment','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('12.03.04.00','Print Checks','',NULL,NULL)",

//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('13.00.00.00','FIXED ASSET','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('13.01.00.00','Setup','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('13.01.01.00','Company','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('13.01.02.00','Parameter','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('13.01.03.00','Main Group','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('13.01.04.00','Sub Group','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('13.01.05.00','Cost Center','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('13.01.06.00','Branch','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('13.01.07.00','Department','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('13.01.08.00','Location','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('13.01.09.00','Asset','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('13.02.00.00','Report','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('13.02.01.00','Depreciation','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('13.02.02.00','Projection','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('13.02.03.00','General Ledger','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('13.02.04.00','Label Print','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('13.02.05.00','Master Asset','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('13.02.06.00','Transaction','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('13.03.00.00','Transaction','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('13.03.01.00','Capitalize','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('13.03.02.00','Revaluation','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('13.03.03.00','Discarding','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('13.03.04.00','Selling','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('13.03.05.00','Reallocation','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('13.03.06.00','Change Method','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('13.03.07.00','Active/Inactive','',NULL,NULL)",
//
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('14.00.00.00','PURCHASING','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('14.01.00.00','Setup','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('14.01.01.00','Organization','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('14.01.02.00','Workflow','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('14.02.00.00','Transaction','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('14.02.01.00','Requisition','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('14.02.02.00','Purchase Order','',NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('14.03.00.00','Report','',NULL,NULL)",

         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('15.00.00.00','INSURANCE','',NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('15.01.00.00','Setup','',NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('15.01.01.00','General','CONFIGURE&GROUP=INS_GENERAL',NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('15.01.02.00','Policy Items','',NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('15.01.04.00','Customers','entity_list.crux',NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('15.02.00.00','Insurance Templates',NULL,NULL,NULL)",
//         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('15.30.00.00','Insurance Policy','INS_POL',NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('15.31.00.00','Insurance Policy','policy_list.crux',NULL,NULL)",

         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('16.00.00.00','PERSONAL ENTITIES','',NULL,NULL)",

         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('70.00.00.00','SYSTEM SETTINGS',NULL,NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('70.01.00.00','Logging','CONFIGURE&GROUP=LOG',NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('70.02.00.00','System','CONFIGURE&GROUP=SYS',NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('70.03.00.00','General','CONFIGURE&GROUP=GENERAL',NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('70.04.00.00','Notification',NULL,NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('70.04.01.00','SMS','CONFIGURE&GROUP=NOT_SMS',NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('70.04.02.00','Email','CONFIGURE&GROUP=NOT_EMAIL',NULL,NULL)",

         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('71.00.00.00','TASK SCHEDULER',NULL,NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('71.01.00.00','Config','CONFIG_JOB',NULL,NULL)",
         "INSERT INTO s_functions(function_id, function_name, ctl_id, url, resource_id) VALUES('71.02.00.00','Log','JOB_LOG_VIEW',NULL,NULL)",
dd-->
